<div class="jumbotron">
    <p><img src="https://i.imgur.com/eX43bcc.jpg" alt="" width="1280" height="720" /></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>help</h2>
        <p>i dont like REST services</p>
       
    </div>
    <div class="col-md-4">
        <h2>Panic</h2>
        <p>at the Azure</p>
        
    </div>
    <div class="col-md-4">
        <h2>HTML</h2>
        <p>yes, i know it</p>
    </div>
</div>
